*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}  
/* common style  starts*/
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.common-bg{
    background-color: #FFF8F3;
}
.btn-primary{
    background-color: #FD6E0A;
    width:150px;
    height: 64px;
    border: none;
    border-radius:5px ;
    color: #fff;
    font-size: 20px;
    padding: 18px 15px;
    font-weight: bold;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.section-description {
    font-size: 18px;
    color: #757575;
    text-align: justify;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
}

/*  --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body{
      font-family: "Open Sans", sans-serif;

}


 .header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
 }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
   display: flex;
   align-items: center;
}

nav ul li{
  list-style: none;
  margin: 51px;


}
nav ul li a{
    text-decoration: none;
    width: 189px;
    height: 27px;
    font-size: 20px;

}




/* banner starts here  */
  .banner{
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .banner-content{
     
   
     margin:0 35px 0 200px ; 
     max-width: 580px;
    
  }
  .hi{
     font-size: 45px;
     font-weight: 600;
  }
  .banner-title{
     font-size: 65px;
     font-weight: 700;
  }
  .banner-description{
    font-size: 18px;
    margin:  10px  0 0 0 ;
    color: #757575;
  }
  .download-cv{
    width:200px ;
    height:64px ;
    margin: 30px 0px  ;
 
  }
  .con-btn{
    background-color: #fff;
    color: #FD6E0A;
    border:1px solid #FD6E0A;
    margin-left: 10px;
  }
  .banner-picture{
    width: 584px;
    height: 676px;
    margin: 0  38px 0 978px;
  }

  main{
   max-width: 1140px;
    margin: 0 auto;


  }
  .about{
      padding: 130px 150px;
      /* margin-top: 130px; */
      text-align: center;
      border-radius:10px ;
  }
  .abouts{
    width: 827px;
    height: 284px;
    border: 3px solid #7575755b;
   background-color: #FFFFFF;
  }
  .about-items{
    display: flex;
    justify-content: space-around;
  }
  .sec-title{
     /* margin-top: 10px;  */
  }
  .se-des{
      /* margin-top: 30px;  */
  }
  .about-item{
      /* margin-top: 30px;  */
  }
  .item-title{
   font-size: 20px;
   color: #757575;
  }
  .item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
  }

  /*============skill============= */

  .skill-container{
    display: flex;
    gap: 24px;
  }
  .skill{
      padding: 30px;
      box-shadow: 0  6px  50px  0 #00000017;
  }
  main section{
    margin-top: 130px;
    margin-bottom: 130px;
  }
  .scriptt{
    margin-top: 30px;
  }







.summary-resume{
  margin-bottom: 113px;
}


  .resume-container{
    display: flex;
    gap: 24px;
  }

  .resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .expriencce-title{
     font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
  }
  .exprience-sub-title{
    font-size: 20px;
    font-weight:500;
    color: #757575;
  }
  .exprience-description{
    font-size: 16px;
    color: #757575;
    margin-top: 20px;
  }
  hr{
    margin: 30px 0;
  }

  .btnn{
    text-align: center;
  }
  .btn-download{
    
     background-color: #FD6E0A;
    width:220px;
    height: 64px;
    border: none;
    border-radius:5px ;
    color: #fff;
    font-size: 20px;
    padding: 18px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
  
  }



  /* ====================================== */

  footer{
    display: flex;
    padding: 130px 253px 130px 207px;
    gap: 124px;
    width: 100%;
    
  }

 .footer-column{
  width: 50%;
 }
 .message-me{
  margin-bottom: 20px;
 }
     footer input[type="text"],  footer input[type="email"]{
          height:64px ;
          padding:18px 30px ;
          color: #757575;
          border-radius: 5px;
          border: none;
          width: 100%;
          margin-bottom: 24px;
  }
   footer textarea{
    width: 100%;
    border: none;
     padding:18px 30px ;
   }